<template>
  <div class="list row">
    <div class="col-md-8">
    </div>
    <div class="col-md-6">
      <h4>New Gundams</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(tutorial, index) in tutorials"
          :key="index"
          @click="setActiveTutorial(tutorial, index)"
        >
          {{ tutorial.title }}
        </li>
      </ul>
<!--
      <button class="m-3 btn btn-sm btn-danger" @click="removeAllTutorials">
        Remove All
      </button> -->
    </div>
    <div class="col-md-6">
      <div v-if="currentTutorial">
         <router-link class="badge badge-warning">NEW</router-link> <h4>Gundam</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label> {{ currentTutorial.description }}
        </div>
        <div>
          <label><strong>Price:</strong></label> {{ currentTutorial.price }}
        </div>
        <div>
          <label><strong>Image:</strong></label>
          </div>
          <div>
          <img  :src="currentTutorial.image" alt="Placeholder">
        </div>
        <div>
          <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
        </div>
      <button class="m-3 btn btn-sm btn-danger" @click="tutorialForCartNow(currentTutorial)">
        Add To Cart
      </button>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Gundam Model...</p>
      </div>
    </div>
  </div>
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";

export default {
  name: "tutorials-list",
  data() {
    return {
      tutorials: [],
      currentTutorial: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrieveTutorials() {
      TutorialDataService.findNew()
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveTutorials();
      this.currentTutorial = null;
      this.currentIndex = -1;
    },

    setActiveTutorial(tutorial, index) {
      this.currentTutorial = tutorial;
      this.currentIndex = index;
    },

    tutorialForCartNow(tutorial) {
        this.currentTutorial = tutorial
        var data = {
        title: this.currentTutorial.title,
        description: this.currentTutorial.description,
        price: this.currentTutorial.price,
        image: this.currentTutorial.image,
        published: status,
        novetat: this.novetat
      };

      TutorialDataService.createForCart(data)
        .then(response => {
          console.log(response.data);
          this.message = 'The product was added successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveTutorials();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
